.team {
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
}

.team h3 {
    font-family: 'Prata', serif;
    font-size: 32px;
    font-weight: 400;
    color: #212121;
    border-bottom: 4px solid #57C278;
    display: inline-flex;
    padding-bottom: 9px;
}

.colaborators {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}